*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 9px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    margin: 9px 9px;
   }
   #navigation{
    min-height: 300px;
    width: 20%;
    background-color: blue;
    margin: 9px 9px;
    display: inline-block;
   }
   #main_content{
    min-height: 400px;
    width: 75%;
    background-color: red;
    display: inline-block;
    padding: 5px 0px 0px 5px;
    margin: 9px;
    vertical-align: top;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 9px 0px 0px 9px;
    display: inline-block;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin: 9px 0px 0px 9px;
   }