<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip</title>
    <!-- context variable: 'logged_in_user' -->
</head>
<body>
    <div id="container">
        <a href="/users/logout">Logout</a>
        <h2>Hello {{ logged_in_user.first_name }}! Create a trip!</h2>
        
        {% for mistake in messages %}
        <p style="color: red;">{{ mistake }}</p>
        {% endfor %}

        <form action="/trips/create" method="POST">
            {% csrf_token %}
            <div>
                <label for="destination">Destination:</label>
                <input type="text" name="destination">
            </div>
            <div>
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date">
            </div>
            <div>
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date">
            </div>
            <div>
                <label for="plan">Plan:</label><br>
                <textarea name="plan" cols="30" rows="10"></textarea>
            </div>
            <a href="/dashboard">Cancel</a>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>