<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Buddy Dashboard</title>
    <!-- context variable: 'logged_in_user', 'all_trips' -->
</head>
<body>
    <div id="container">
        <a href="/users/logout">Logout</a>
        | <a href="/trips/new">Create a new trip!</a>
        <h2>Hello {{ logged_in_user.first_name }}!</h2>
        <p>Your trips:</p>
        <table>
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Plan</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for trip in all_trips %}
                {% if trip.traveler.id == logged_in_user.id  %}
                <tr>
                    <td>
                        <a href="/trips/{{ trip.id }}">{{ trip.destination }}</a>
                    </td>
                    <td>{{ trip.start_date }}</td>
                    <td>{{ trip.end_date }}</td>
                    <td>{{ trip.plan }}</td>
                    <td>
                        {% if trip.traveler.id == logged_in_user.id  %}
                        <a href="/trips/{{ trip.id }}/delete">Remove</a>
                        | <a href="/trips/{{ trip.id }}/edit">Edit</a>
                        {% endif  %}
                    </td>
                </tr>
                {% endif  %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>