<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Trip</title>
    <!-- context variable: 'update_trip' -->
</head>
<body>
    <div id="container">
        <a href="/users/logout">Logout</a>

        {% for mistake in messages %}
        <p style="color: red;">{{ mistake }}</p>
        {% endfor %}

        <h2>Hello {{ update_trip.traveler.first_name }}! Let's edit your trip!</h2>
        
        <form action="/trips/{{ update_trip.id }}/update" method="POST">
            {% csrf_token %}
            <div>
                <label for="destination">Destination:</label>
                <input type="text" name="destination" value="{{ update_trip.destination }}">
            </div>
            <div>
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date" value="{{ update_trip.start_date }}">
            </div>
            <div>
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date" value="{{ update_trip.end_date }}">
            </div>
            <div>
                <label for="plan">Plan:</label>
                <textarea name="plan" cols="30" rows="10">{{ update_trip.plan }}</textarea>
            </div>
            <a href="/dashboard">Cancel</a>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>