<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Trip</title>
    <!-- context variable: 'trip_details' -->
</head>
<body>
    <div id="container">
        <a href="/users/logout">Logout</a>
        | <a href="/dashboard">Dashboard</a>

        <h2>Hello {{ current_user.first_name }}! Read about this trip!</h2>
        <h3>{{ trip_details.destination }}</h3>
        <p>Start Date: {{ trip_details.start_date }}</p>
        <p>End Date: {{ trip_details.end_date }}</p>
        <p>Created on: {{ trip_details.created_at }}</p>
        <p>Last Updated: {{ trip_details.updated_at }}</p>
        <p>Plan: {{ trip_details.plan }}</p>
        <p>Created by: {{ trip_details.traveler.first_name }}</p>
    </div>
</body>
</html>