* {
    margin: 0px;
    padding: 0px;
}

#container {
    margin: 0 auto;
    width: 980px;
}
    #container form {
        margin: 20px;
        padding: 20px;
        width: 50%;
        outline: solid black 3px;
    }
    #container button {
        padding: 5px;
    }