<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users With Templates</title>
    <!-- context variables: all_users -->
</head>
<body>
    <h1>All the Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email_address }}</td>
                <td>{{ user.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h1>Add a User</h1>
    <form action="/add-user" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name</label>
            <input type="text" name="first_name">
        <label for="last_name">Last Name</label>
            <input type="text" name="last_name"><br>
        <br><label for="email_address">Email</label>
            <input type="email" name="email_address"><br>    
        <br><label for="age">Age</label>
            <input type="age" name="age"><br>
        <br><button type="submit">Add</button>
    </form>
</body>
</html>